# Data Cleaning

In [1]:
# importing libraries and loading data

import pandas as pd
import numpy as np
import os
import janitor

In [2]:
path = r'/Users/johntam/cf_data_analysis/tasks/A4/code/data'
products = pd.read_csv(os.path.join(path, 'products.csv'), index_col=False)
orders = pd.read_csv(os.path.join(path, 'orders.csv'), index_col=False)
departments = pd.read_csv(os.path.join(path, 'departments.csv'))

In [14]:
# wrangling departments csv

departments = (departments
               .T
               #.reset_index()
)
new_header = departments.iloc[0]
departments = departments[1:]
departments.columns = new_header

In [15]:
# creating data dict
data_dict = departments.to_dict('index')
 ##### not sure this is right please let me know!

In [3]:
# wrangling orders csv

orders = orders.drop(columns=['eval_set'])

orders = orders.change_type(['order_id','user_id'], str)

## Further Data Cleaning

In [4]:
# updating col names
(orders
    .rename_column(old_column_name = 'order_dow', new_column_name= 'order_day_of_week')
    .rename_column(old_column_name = 'days_since_prior_order', new_column_name= 'days_since_last_order')
)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [18]:
# it looks like the busiest hour is 10am
orders.value_counts('order_hour_of_day')

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
dtype: int64

In [19]:
print(data_dict.get('4'))

{'department': 'produce'}

In [20]:
# creating a subset of breakfast item sales

breakfast = products[products['department_id'] == 14]

In [21]:
# creating a subset of possible dinner parties

parties = products.loc[products['department_id'].isin([5,7,12,20])]

# this df has  7688 entries

In [10]:
# a df about user 1

user_1 = orders[orders['user_id'] == '1']

user_1.describe()

       order_number  order_dow  order_hour_of_day  days_since_prior_order
count     11.000000  11.000000          11.000000               10.000000
mean       6.000000   2.636364          10.090909               19.000000
std        3.316625   1.286291           3.477198                9.030811
min        1.000000   1.000000           7.000000                0.000000
25%        3.500000   1.500000           7.500000               14.250000
50%        6.000000   3.000000           8.000000               19.500000
75%        8.500000   4.000000          13.000000               26.250000
max       11.000000   4.000000          16.000000               30.000000

In [6]:
# extracting clean data 
path = r'/Users/johntam/cf_data_analysis/tasks/A4/code/clean_data'
orders.to_csv(os.path.join(path, 'orders_wrangled.csv'), index=False )
departments.to_csv(os.path.join(path, 'departments_wrangled.csv'), index=False)