# Creating Analysis Variables for OPM dataset

In [1]:
# importing modules
import pandas as pd
import numpy as np
import os
import janitor

In [2]:
# loading in data
path = r'/Users/johntam/cf_data_analysis/tasks/A4/code/clean_data'
opm = pd.read_pickle(os.path.join(path,'opm.pkl'))

In [3]:
#  cleaning extreme price values
opm.loc[opm['prices'] > 100, 'prices'] = np.nan

In [3]:
# finding mean order_number by department groups
(opm
.groupby('department_id')
.agg({'order_number':['mean']})
)

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.215751
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170371
12               15.887622
13               16.583304
14               16.759763
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

compared to the result in the excercise, with this result we now can see all of the department id's. In addition, on average, the averages are higher than those produced with the subset. 

I'm not entirely sure this measure is informative? Given that the order_number just states which order number sequentially it is for a specific user. I believe we are not gaining any measure of quantity, but rather a measure of sequentiality.

In [9]:
opm['max_order'] = (opm
                    .groupby(['user_id'])['order_number']
                    .transform(np.max))

opm.loc[opm['max_order'] > 40, 'loyalty_flag'] = 'loyal customer'
opm.loc[(opm['max_order'] <= 40) & (opm['max_order'] > 10), 'loyalty_flag'] = 'regular customer'
opm.loc[opm['max_order'] <= 10, 'loyalty_flag'] = 'new customer'

opm[['user_id','max_order','loyalty_flag']].tail(10)

          user_id  max_order      loyalty_flag
32434202   202557         31  regular customer
32434203   202557         31  regular customer
32434204   202557         31  regular customer
32434205   202557         31  regular customer
32434206   202557         31  regular customer
32434207   202557         31  regular customer
32434208   202557         31  regular customer
32434209   203436          3      new customer
32434210   203436          3      new customer
32434211   205420         16  regular customer

In [28]:
opm.tail(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spender_type,median_day_since_ordered,customer_freq
32433010,461844,200351,5,2,11,9.0,15408,2,0,Training Fluoride Free Toothpaste Apple & Ban...,...,7.0,mid-range product,regular days,most orders,11,regular customer,7.863636,low spender,19.0,regular customer
32433011,216145,205587,1,3,14,NaN,15408,6,0,Training Fluoride Free Toothpaste Apple & Ban...,...,7.0,mid-range product,slowest days,most orders,10,new customer,7.946970,low spender,30.0,non-frequent customer
32433012,2941852,200463,2,1,15,30.0,8682,11,0,All Purpose Eraser,...,8.8,mid-range product,busiest days,most orders,4,new customer,8.444737,low spender,30.0,non-frequent customer
32433013,2321285,203389,16,2,10,6.0,8682,7,0,All Purpose Eraser,...,8.8,mid-range product,regular days,most orders,17,regular customer,8.606030,low spender,5.0,frequent customer
32433014,609055,202557,1,0,13,NaN,43553,2,0,Orange Energy Shots,...,3.7,low-range product,busiest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433015,1928449,202557,4,4,9,16.0,43553,4,1,Orange Energy Shots,...,3.7,low-range product,slowest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433016,2222639,202557,6,5,9,4.0,43553,3,1,Orange Energy Shots,...,3.7,low-range product,regular days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433017,339942,202557,8,4,10,4.0,43553,3,1,Orange Energy Shots,...,3.7,low-range product,slowest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433018,2798193,202557,9,4,13,7.0,43553,5,1,Orange Energy Shots,...,3.7,low-range product,slowest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433019,2391791,202557,11,6,6,8.0,43553,2,1,Orange Energy Shots,...,3.7,low-range product,regular days,fewest orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433020,576295,202557,12,3,10,11.0,43553,14,1,Orange Energy Shots,...,3.7,low-range product,slowest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433021,960088,202557,13,4,12,15.0,43553,3,1,Orange Energy Shots,...,3.7,low-range product,slowest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433022,343962,202557,14,0,10,3.0,43553,2,1,Orange Energy Shots,...,3.7,low-range product,busiest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433023,2329472,202557,15,6,12,6.0,43553,2,1,Orange Energy Shots,...,3.7,low-range product,regular days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433024,694731,202557,16,1,14,2.0,43553,2,1,Orange Energy Shots,...,3.7,low-range product,busiest days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433025,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,...,3.7,low-range product,regular days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433026,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,...,3.7,low-range product,regular days,most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32433027,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",...,6.9,mid-range product,regular days,average orders,3,new customer,7.631579,low spender,15.0,regular customer
32433028,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",...,6.9,mid-range product,slowest days,fewest orders,3,new customer,7.631579,low spender,15.0,regular customer
32433029,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,...,10.3,mid-range product,slowest days,most orders,16,regular customer,7.684746,low spender,13.0,regular customer

In [10]:
# finding 
(opm
.groupby('loyalty_flag')
.agg({'prices':['mean','max','min']})
)

                    prices
                      mean   max  min
loyalty_flag
loyal customer    7.778434  25.0  1.0
new customer      7.805661  25.0  1.0
regular customer  7.802976  25.0  1.0

In [4]:
# creating a new col with average prices
opm['average_price'] = (opm
                    .groupby(['user_id'])['prices']
                    .transform(np.mean))

In [5]:
# checking to see if calculation was done correctly
opm[opm['user_id']==203436]['prices'].mean()

7.631578947368421

In [6]:
opm.loc[opm['user_id'] == 203436,['user_id','prices','average_price']]

          user_id  prices  average_price
2211676    203436     4.0       7.631579
2211677    203436     4.0       7.631579
3673339    203436     7.3       7.631579
4090301    203436     3.8       7.631579
4159638    203436     7.5       7.631579
4276527    203436     6.3       7.631579
4276528    203436     6.3       7.631579
4900856    203436     7.9       7.631579
5375004    203436    14.3       7.631579
5375005    203436    14.3       7.631579
6023465    203436    13.4       7.631579
6023466    203436    13.4       7.631579
6102087    203436     5.3       7.631579
7015682    203436     6.7       7.631579
8070860    203436    11.6       7.631579
8505657    203436    12.8       7.631579
8505658    203436    12.8       7.631579
9929129    203436     8.7       7.631579
9929130    203436     8.7       7.631579
10532556   203436     6.2       7.631579
10532557   203436     6.2       7.631579
10933107   203436     3.9       7.631579
11265133   203436     1.1       7.631579
11265134   203436     1.1       7.631579
11566629   203436     2.6       7.631579
13677986   203436     3.8       7.631579
19444172   203436     6.8       7.631579
20032606   203436    13.7       7.631579
22268997   203436     2.9       7.631579
23954796   203436     2.7       7.631579
24444712   203436     5.3       7.631579
27700204   203436     6.6       7.631579
29712865   203436    14.4       7.631579
29935854   203436    11.1       7.631579
32012927   203436    14.1       7.631579
32394033   203436     4.6       7.631579
32434209   203436     6.9       7.631579
32434210   203436     6.9       7.631579

In [7]:
# creating a new col to flag customers

opm.loc[opm['average_price'] < 10, 'spender_type'] = 'low spender'
opm.loc[opm['average_price'] >= 10, 'spender_type'] = 'high spender'

In [11]:
# creating median days since ordered col per user

opm['median_day_since_ordered'] = (opm
                    .groupby(['user_id'])['days_since_prior_order']
                    .transform(np.median))

In [12]:
# checking to see if calc were done correctly
opm[opm['user_id']==202557]['days_since_prior_order'].median()

8.0

In [13]:
# creating a new col to flag frequent customers
opm.loc[opm['median_day_since_ordered'] <= 10, 'customer_freq'] = 'frequent customer'
opm.loc[(opm['median_day_since_ordered'] > 10) & (opm['median_day_since_ordered'] <=20), 'customer_freq'] = 'regular customer'
opm.loc[opm['median_day_since_ordered'] > 20, 'customer_freq'] = 'non-frequent customer'

In [14]:
# exporting data
opm.to_pickle(os.path.join(path,'opm.pkl'))